@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 20, 50; /* Escurecido para uma cor mais suave */
    --background-end-rgb: 30, 30, 30; /* Levemente mais claro que o início para suavizar o efeito */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb))
  
 
}

/* Adiciona uma cor de fundo padrão para o tema claro */
@layer base {
  body {
    background-color: rgb(var(--background-start-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
